
@mixin background-image {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

@mixin center-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}


@mixin button {
            margin-top: 20px;
            border: none;
            border-radius: 15px;
            padding: 10px 25px;
            background-color: $red;
            transition: .5s ease-in-out;
            box-shadow: 0 5px 4px rgba(0, 0, 0, .4);
    &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }
    a {
            color: $light-gray;
            cursor: pointer;
            font-size: 1.2em;
            text-decoration: none;
    }
            
}