//$pink: #cb1b42;
//$navy-blue: #08293a;
$white: #edeff0;
$black: #000;
$spacer-section: 50px;


//colors
$red: #E74C3C;
$red2:#e0594a;
$dark-blue: #2C3E50;
$blue2:#496581;
$light-blue:#3498DB;
$light-gray:#ECF0F1;
$gray:#919191;
$dark-gray: #303030;


//urls
$url_0: url(../images/portfolio/typing_on_laptop.jpg);
$url_1: url(../images/portfolio/subpage.jpg);
$url_2: url(../images/portfolio/calculator.jpg);
$url_3: url(../images/portfolio/tic-tac-toe.jpg);
$url_4: url(../images/portfolio/typing_on_laptop.jpg);
$url_5: url(../images/portfolio/typing_on_laptop.jpg);



//fonts
$font_0: Montserrat;
$font_1: sans-serif;
$font_2: Droid Serif;