//$pink: #cb1b42;
//$navy-blue: #08293a;
$white: #edeff0;
$black: #000;
$spacer-section: 50px;

$pink: #f45b69;
$blue: #456990;
$gray: #303030;


//urls
$url_0: url(../images/portfolio/box_of_cookies.jpg);
$url_1: url(../images/portfolio/chaotic_paint.jpg);
$url_2: url(../images/portfolio/chestnut_on_bracket.jpg);
$url_3: url(../images/portfolio/child_with_blue_paint.jpg);
$url_4: url(../images/portfolio/house_with_blue_doors.jpg);
$url_5: url(../images/portfolio/typing_on_laptop.jpg);



//colors
$color_black_haze_approx: #f7f7f7;
$white: #fff;
$color_blue_ribbon_approx: #005bea;
$color_bright_turquoise_approx: #10d8d8;
$color_mine_shaft_approx: #333;
$gray: gray;

//fonts
$font_0: Montserrat;
$font_1: sans-serif;
$font_2: Droid Serif;