@import 'mixin';
@import 'zmienne';

body {
    @include base-font;
    background-color: $light-gray;
    nav#main-nav {

        background: transparent;

        .nav-item a {
            color: $light-gray;
            font-size: 1.1em;
            &:hover {
                color: $red;
            }
        }


    }
    nav#main-nav.scroll {
        background-color: rgba(236, 240, 241, .9);
        .nav-item a {
            color: black;
            &:hover {
                color: $red;

            }
        }


    }
    header#header-image {
        @include background-image;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)), url(../images/header/background-image.png);
        div.header-caption {
            z-index: 1;
            padding-top: 35vh;
            @include center-elements;
            h2 {
                color: $red;
                text-shadow: 0 0 150px #000;
                padding-bottom: 10px;
                font-size: 2.5em;
            }
            h1 {
                color: $light-gray;
                font-size: 4em;
                text-shadow: 0 0 150px #000;
            }
            div.arrow-down {
                margin-top: 250px;
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;
                i.fas {
                    position: absolute;
                    font-size: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $light-gray;
                    animation: animate 2s linear infinite;
                    text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
                    @include arrow-animation;
                }

            }
        }

    }



    section {
        .about-me_container {
            width: 100%;
            @include center-elements;
        }
        &#about-me {
            margin: 0 auto;
            @include center-elements;
            padding: $spacer-section 0;
            background: $light-gray;
            width: 80%;
            button {
                @include button;
                background-color: $dark-blue;
                margin-bottom: 20px;
                a {
                    color: $light-gray;
                }
                &:hover {
                    background-color: $blue2;
                }

            }
        }

        h3 {
            padding-bottom: 20px;
            color: $dark-blue;
            span {
                color: $red;
                font-weight: 800;
            }
        }
        img.about-me_image {
            width: 180px;
            border-radius: 50%;
            margin-bottom: 15px;
            filter: drop-shadow(0 0 5px $dark-blue);


        }
    }





    section#experience {
        @include center-elements;
        padding: $spacer-section 0; //        background-image: url("../images/skills/square-tiles.png");
        background-color: $red;
        h3 {
            @include base-font;
            font-size: 2em;
            color: $light-gray;
            span {
                color: $dark-blue;
            }
        }
        time {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }
        @media screen and(max-width: 900px) {
            .timeline ul li {
                div {
                    width: 250px;
                }
                &:nth-child(even) div {
                    left: -289px;
                }
            }
        }
        @media screen and(max-width: 600px) {
            .timeline ul li {
                margin-left: 20px;
                div {
                    width: calc(100vw - 91px);
                }
                &:nth-child(even) {
                    div {
                        left: 45px;
                    }
                    div::before {
                        left: -15px;
                        border-width: 8px 16px 8px 0;
                        border-color: transparent $dark-blue transparent transparent;

                    }
                }
            }
        }
        .timeline ul {
            @include center-elements;
            padding: $spacer-section 0;
            background-color: $light-gray;
            li {
                list-style-type: none;
                position: relative;
                width: 6px;
                margin: 0 auto;
                padding-top: 50px;
                background: $light-gray;
                div {
                    position: relative;
                    bottom: 0;
                    width: 400px;
                    padding: 15px;
                    background: rgba(237, 239, 240, .8);
                    box-shadow: 2px 3px 0 0 $gray;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    border-radius: 5px 10px;
                }

                &:nth-child(odd) {
                    div {
                        left: 45px;
                        transform: translate3d(200px, 0, 0);
                    } //                   
                }
                &:nth-child(even) {
                    div {
                        left: -439px;
                        transform: translate3d(-200px, 0, 0);
                    }

                }
                &.in-view::after {
                    background: $dark-blue; //                    box-shadow: 0 2px 5px $gray;
                }
                &.in-view div {
                    transform: none;
                    visibility: visible;
                    opacity: 1;
                }
            }
            li::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: inherit;
                transition: background .5s ease-in-out;
            }
        }
    }



    section#skills {
        @include center-elements;
        padding-top: $spacer-section;
        margin-bottom: $spacer-section;
        box-sizing: border-box;

        .icons {
            color: $dark-blue;
        }
        .icon-box {
            height: 96px;
            .icons-img {
                height: 90px;
                width: 90px;
            }
        }

        h6 {
            color: $black;
        }
        div.progressBar {
            position: relative;
            background: $light-gray;
            width: 70%;
            height: 19px;
            margin: 21px auto;
            border-radius: 20px;
            border: .5px solid $gray;



            .title {
                position: absolute;
                padding-left: 20px;
                float: left;
                color: $light-gray;
                line-height: 1.1;
                z-index: 1;
            }
            .progress_value {
                position: relative;
                float: right;
                line-height: 1.1;
                color: $gray;
                z-index: 1;
                padding-right: 10px;

            }

            .progress {
                height: 18px;
                position: absolute;
                border-radius: 20px;
                background: $red;
            }
            .progress-blue {
                height: 18px;
                position: absolute;
                border-radius: 20px;
                background: $dark-blue;
            }


        }

        .skills_container {
            width: 90%;
        }

    }


    .portfolio-image-container {
        overflow: hidden;
    }
    .portfolio-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        mix-blend-mode: multiply;
        background: $dark-blue;
        transition: all .3s;
        opacity: 0;
        border-radius: 30%;

    }
    .portfolio-box {
        background-color: $light-gray;
        overflow: hidden;
        border-radius: 20px 5px 5px 5px;
        margin-top: 10px;
        border-radius: 15px 15px;
        box-shadow: 0 0 35px 2px $gray;

        figcaption {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $light-gray;
            border-radius: 15px 15px;
            transition: all .3s;
            opacity: 0;

            h4 {
                font-size: 18px;
                padding-bottom: 5px;
            }
            p {
                font-size: 10px;
            }
        }
    }
    #portfolio-image-1 {
        background-image: $url_0;
    }
    #portfolio-image-2 {
        background-image: $url_1;
    }
    #portfolio-image-3 {
        background-image: $url_2;
    }
    #portfolio-image-4 {
        background-image: $url_3;
    }
    #portfolio-image-5 {
        background-image: $url_4;
    }
    #portfolio-image-6 {
        background-image: $url_5;
    }

    section#portfolio {
        @include center-elements;
        padding: $spacer-section 0;
        background-color: $light-gray;

    }
    #portfolio .portfolio-image {
        overflow: hidden;
        height: 301px;
        background-size: cover;
        background-position: center;
        position: relative;
        transition: all .5s;
        border-radius: 15px 15px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 250px inset;
    }
    .portfolio-image:hover {
        transform: scale(1.4);


        .portfolio-mask,
        figcaption {
            opacity: 1;

        }

    } 
    
    
    //section graphic-portfolio
    section#graphic-portfolio {
        @include center-elements;
        div.graphic-box {
            position: relative;
            height: 50vh;

            .image-box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .image-after {
                width: 0%;
                transition: 2s;
                overflow: hidden;
                border-right: 2px solid $red;
            }

            &:hover .image-after {
                width: 100%;


            }
        }
    }







    section#contact {
        @include center-elements;
        padding-top: $spacer-section;
        background-image: url("../images/skills/square-tiles.png");
        background-color: $dark-blue;
        h3,
        p,
        label {
            color: $light-gray;
        }

        input,
        textarea {
            box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .2);

        }
        button {
            @include button;

            &:hover {
                background-color: $red2;


            }
        }





        p.copy {
            padding-top: 40px;
            padding-bottom: 0;
            margin: 2px;
        }



        ul.social-icons {
            padding: 5px 0 0 0;



            li {
                list-style: none;
                display: inline-block;
                a {
                    position: relative;
                    width: 35px;
                    height: 35px;
                    display: block;
                    text-align: center;
                    margin: 0 2px;
                    border-radius: 50%;
                    padding: 5px;
                    box-sizing: border-box;
                    text-decoration: none;
                    box-shadow: 0 7px 5px rgba(0, 0, 0, .3);
                    background: linear-gradient(0deg, $gray, #fff);
                    transition: .5s;
                    &:hover {
                        box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
                        .fab {
                            color: $red;
                        }
                    }

                    .fab {
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: linear-gradient(0deg, #fff, $gray);
                        border-radius: 50%;
                        line-height: calc(35px - 10px);
                        font-size: 20px;
                        color: $dark-blue;

                    }
                }
            }
        }
    }



}