#gallery {
        width: 100%;
    }
@media all and (min-width:993px) {
    figure {
        background-color: red;
        width: 33%;
    }    
}

@media  all and (min-width:769px) and (max-width:992px) {
    figure {
        background-color: orangered;
        width: 49%;
    }
        header,
    figcaption {
        font-size: 2vw;
    }
}

@media  all and (min-width:480px) and (max-width:768px) {
    figure {
        background-color: darkviolet;
        width: 90%;
    }
    header,
    figcaption {
        font-size: 3vw;
    }
}

@media all and (max-width:479px) {
    figure {
        background-color: cornflowerblue;
        width: 100%;
    }
    header {
        font-size: 5vw;
    }
}