@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&subset=latin-ext');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/background/footer_lodyas.png');
    font-family: 'Raleway', sans-serif;
}
/*--------------------------------NAV-----------------------*/
header {
    width: 100%;
    background: rgba(38, 38, 38, .5);
    position: fixed;
    z-index: 5;
}

.menu {
    width: 90%;
    margin: auto;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .container-menu .logo .logo-name {
    display: flex;
    align-items: center;
}

.menu .container-menu .logo .logo-name img {
    width: 60px;
}

.menu .container-menu .logo .logo-name a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 300;
    text-transform: uppercase;
}

.menu .container-menu .logo .logo-name a span {
    font-size: .5em;
    display: flex;
    letter-spacing: .1px;
}

.menu .container-menu .logo .btn-menu {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    display: none;
}

.menu .menu-link ul {
    list-style: none;
}

.menu .menu-link ul li {
    display: inline-block;
}

.menu .menu-link ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 0.95em;
    transition: .2s;
    font-weight: 300;
    border-bottom: 2px solid transparent;
}

.menu-link ul li .fa {
    color: #fff;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin-left: 15px;
}

.menu-link ul li:hover .fa {
    color: #008CBA;
}

.menu .menu-link ul li a:hover {
    color: #008CBA;
}

/*--------------------------------GALLERY-----------------------*/

.team {
    padding: 50px 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 10px auto;
}

.row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.mg-top {
    margin-top: 50px;
}

.row .column {
    margin: 15px 10px;
    position: relative;
    width: calc(25% - 20px);
    max-height: 450px;
    background-color: #008CBA;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 15px 5px;
}

.row .column:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 160, 232, 1);
    z-index: 1;
    transform: .5s;
    mix-blend-mode: multiply;
    transition: .8s;
}

.row .column:hover:before {
    bottom: 0;
}

.row .column .imgBox {
    position: relative;
}

.row .column .imgBox img {
    width: 100%;
    transition: 5s;

}

.row .column:hover .imgBox img {
    transform: scale(1.5);

}

.row .column .details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 140, 186, .7);
    width: 100%;
    transition: .5s;
    bottom: -180px;
    z-index: 2;
    border-radius: 100px 5px 0 0;
}

.row .column:hover .details {
    bottom: 0;
}

.row .column .details h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #262626;
    text-align: right;
    text-transform: uppercase;
}

.row .column .details h3 span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    top: -6px;
}

.row .column .details ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.row .column .details ul li {
    list-style: none;
}

.row .column .details ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
}

.row .column .details ul li a:hover .fa {
    transform: rotateX(360deg);
    font-size: 40px;
    transition: .5s;
    color: #262626;
}

/*--------------------------------RWD-----------------------*/


@media(max-width: 992px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
    .row .column {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        max-height: 500px;
    }
    
    .menu .container-menu .logo .btn-menu {
        display: block;
    }
    
    .menu .menu-link {
        position: absolute;
        background: rgba(0, 0, 0, .7);
        height: 100vh;
        width: 100%;
        top: 70px;
        left: -100%;
        z-index: 6;
    }
    
    .menu .menu-link ul li {
        display: block;
    }
    
    .menu .menu-link ul li a {
        display: block;
        height: 50px;
        border-bottom: 2px solid #fff;
        padding: 15px;
        text-align: center;
        margin: 0;
    }
    
    .menu .container-menu {
        width: 100%;
    }

    .menu .container-menu .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu-link ul li .fa {
        padding-top: 20px;
        margin: 0;
        padding-bottom: 0;
    }
}


@media(max-width: 400px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }
    
    .row .column {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    .menu .container-menu .logo .logo-name a {
        font-size: 25px;
    }
    
    .menu-link ul li .fa {
        display: none;
    }
}