@media screen and (max-width: 992px) {
    div#container {
    transform: translateY(50%);
    margin-top: -47%;
    }
    figure.box {
        width: 45%;
        height: 45vw;  
		margin: 0 10px 10px 10px ;
    }
    i.fa {
        font-size: 2.5em;
    }
}
 @media screen and (max-width: 480px) {
      div#container {
        transform: translate(0);
        margin-top: 10%;
        margin-bottom: 10%;
    }
       figure.box {
        width: 100%;
        height: 100vw;
        margin: 0 0 20px 0;        
    }
     i.fa {
        font-size: 3em;
    }
}